host, cloudsync-prod.s3.amazonaws.com
host, origin-a.akamaihd.net
host, rtm.tnt-ea.com
host, ssl-lvlt.cdn.ea.com
host-suffix, dawngate.com
host-suffix, eastore.com
host-suffix, lordofultima.com
host-suffix, origin.com
host-suffix, origin.tv
