host, espn.api.edge.bamgrid.com
host, espn.hb.omtrdc.net
host, espndotcom.tt.omtrdc.net
host-suffix, dtci.co
host-suffix, dtci.technology
host-suffix, espn.co.uk
host-suffix, espn.com
host-suffix, espn.net
host-suffix, espncdn.com
host-suffix, espnqa.com
host-suffix, watchespn.com
