host, time.izatcloud.net, proxy
host, time.xtracloud.net, proxy
host-suffix, cn.pool.ntp.org, proxy
host-suffix, ntp.neu.edu.cn, proxy
host-suffix, ntp.ntsc.ac.cn, proxy
host-suffix, ntp.org.cn, proxy
