host, bcovlive-a.akamaihd.net
host, bcsecure01-a.akamaihd.net
host, brightcove.imgix.net
host-suffix, bcove.video
host-suffix, bcovlive.io
host-suffix, bcvp0rtal.com
host-suffix, boltdns.net
host-suffix, brightcove.com
host-suffix, brightcove.net
host-suffix, brightcove.services
host-suffix, brightcovecdn.com
host-suffix, videojs.com
host-suffix, zencdn.net
host-suffix, zencoder.com
