host-suffix, star.api.edge.bamgrid.com
host-suffix, star.connections.edge.bamgrid.com
host-suffix, star.content.edge.bamgrid.com
host-suffix, star.playback.edge.bamgrid.com
host-suffix, starott.com
host-suffix, starplus.com
