host-suffix, 00cdn.com
host-suffix, 88cdn.com
host-suffix, p2cdn.com
host-suffix, sandai.net
host-suffix, thundercdn.com
host-suffix, thunderurl.com
host-suffix, xunlei.com
host-suffix, xycdn.com
host-suffix, xycloud.com
