host, ubisoft-orbit-savegames.s3.amazonaws.com
host, ubisoft-uplay-savegames.s3.amazonaws.com
host, ubistatic3-a.akamaihd.net
host, uplaypc-s-ubisoft.cdn.ubi.com
host-suffix, ubi.com
host-suffix, ubisoft.com
host-suffix, ubisoftconnect.com
host-suffix, uplay.com
