host, certs-lb.apple.com.akadns.net
host, certs.apple.com
host, crl-lb.apple.com.akadns.net
host, crl.apple.com
host, ocsp-lb.apple.com.akadns.net
host, ocsp.apple.com
host, ocsp2-lb.apple.com.akadns.net
host, ocsp2.apple.com
