host, www.speedtest.net.cdn.cloudflare.net
host-suffix, cdnst.net
host-suffix, cellmaps.com
host-suffix, ekahau.cloud
host-suffix, ekahau.com
host-suffix, ookla.com
host-suffix, ooklaserver.net
host-suffix, pingtest.net
host-suffix, speedtest.co
host-suffix, speedtest.net
host-suffix, speedtestcustom.com
host-suffix, webtest.net
