host-suffix, galaxyappstore.com
host-suffix, galaxymobile.jp
host-suffix, game-platform.net
host-suffix, knoxemm.com
host-suffix, samsung
host-suffix, samsung.com
host-suffix, samsungapps.com
host-suffix, samsungcloud.com
host-suffix, samsungdm.com
host-suffix, samsungeshop.com.cn
host-suffix, samsunggalaxyfriends.com
host-suffix, samsungknox.com
host-suffix, samsungqbe.com
host-suffix, xn--cg4bki
