host, alt1-mtalk.google.com
host, alt2-mtalk.google.com
host, alt3-mtalk.google.com
host, alt4-mtalk.google.com
host, alt5-mtalk.google.com
host, alt6-mtalk.google.com
host, alt7-mtalk.google.com
host, alt8-mtalk.google.com
host, mtalk-dev.google.com
host, mtalk-staging.google.com
host, mtalk.google.com
host, mtalk4.google.com
