host, widgets.stripst.com
host-suffix, collector.xhamster.com
host-suffix, xhamster.com
host-suffix, xhamster.desi
host-suffix, xhamster.xxx
host-suffix, xhamster18.com
host-suffix, xhamster18.desi
host-suffix, xhamsterlive.com
host-suffix, xhcdn.com
