host-suffix, bbtv.cn, proxy
host-suffix, bestv.com.cn, proxy
host-suffix, bestvcdn.cn, proxy
host-suffix, bestvcdn.com, proxy
host-suffix, bestvcdn.com.cn, proxy
host-suffix, bestvcdn.net, proxy
host-suffix, smgbb.cn, proxy
