host-suffix, canonical.com
host-suffix, launchpad.net
host-suffix, launchpadcontent.net
host-suffix, launchpadlibrarian.com
host-suffix, launchpadlibrarian.net
host-suffix, launchpadlibrarian.org
host-suffix, snapcraft.io
host-suffix, snapstore.io
host-suffix, ubuntu-touch.io
host-suffix, ubuntu.com
host-suffix, ubuntu.net
host-suffix, ubuntuforums.org
