host-suffix, codei.sh
host-suffix, codeish.co
host-suffix, codeish.io
host-suffix, heroku-app.com
host-suffix, heroku-charge.com
host-suffix, heroku.co
host-suffix, heroku.com
host-suffix, heroku.me
host-suffix, herokuapp.com
host-suffix, herokucdn.com
host-suffix, herokucharge.com
host-suffix, herokussl.com
