host, amp.akamaized.net
host, cdn.ampproject.org
host-suffix, amp.dev
host-suffix, ampproject.com
host-suffix, ampproject.net
host-suffix, ampproject.org
host-suffix, electronjs.org
host-suffix, jquery.com
host-suffix, jquerymobile.com
host-suffix, jqueryui.com
host-suffix, mochajs.org
host-suffix, nodejs.org
host-suffix, openjsf.org
