host-suffix, azurecr.io
host-suffix, docker.io
host-suffix, ecr.aws
host-suffix, gcr.io
host-suffix, ghcr.io
host-suffix, mcr.microsoft.com
host-suffix, quay.io
host-suffix, registry.gitlab.com
host-suffix, registry.k8s.io
