host, connect.rom.miui.com
host-suffix, captive.apple.com
host-suffix, connectivitycheck.gstatic.com
host-suffix, cp.cloudflare.com
host-suffix, detectportal.firefox.com
host-suffix, msftconnecttest.com
host-suffix, msftncsi.com
host-suffix, network-test.debian.org
host-suffix, networkcheck.kde.org
host-suffix, ping.archlinux.org
