host-suffix, sixte.st
host-suffix, test-ipv6.alpinedc.ch
host-suffix, test-ipv6.arauc.br
host-suffix, test-ipv6.belwue.net
host-suffix, test-ipv6.carnet.hr
host-suffix, test-ipv6.cl
host-suffix, test-ipv6.com
host-suffix, test-ipv6.cs.umd.edu
host-suffix, test-ipv6.csclub.uwaterloo.ca
host-suffix, test-ipv6.cz
host-suffix, test-ipv6.epic.network
host-suffix, test-ipv6.fratec.net
host-suffix, test-ipv6.freerangecloud.com
host-suffix, test-ipv6.go6.si
host-suffix, test-ipv6.hu
host-suffix, test-ipv6.is
host-suffix, test-ipv6.iu13.net
host-suffix, test-ipv6.ke.liquidtelecom.net
host-suffix, test-ipv6.noroutetohost.net
host-suffix, test-ipv6.roedu.net
host-suffix, test-ipv6.se
host-suffix, test-ipv6.sin.vr.org
host-suffix, test-ipv6.ttk.ru
host-suffix, testipv6.cn
host-suffix, testipv6.de
