host, az764295.vo.msecnd.net
host, bingsettingssearch.trafficmanager.net
host, default.exp-tas.com
host, developer.microsoft.com
host, download.visualstudio.microsoft.com
host, dtlgalleryint.cloudapp.net
host, poshtestgallery.cloudapp.net
host, psg-int-centralus.cloudapp.net
host, psg-int-eastus.cloudapp.net
host, rink.hockeyapp.net
host, vscode-sync-insiders.trafficmanager.net
host, vscode-sync.trafficmanager.net
host, vscode.blob.core.windows.net
host, vscode.search.windows.net
host, vsmarketplacebadge.apphb.com
host-suffix, adaptivecards.io
host-suffix, api-extractor.com
host-suffix, apisof.net
host-suffix, appcenter.ms
host-suffix, blazor.net
host-suffix, botframework.com
host-suffix, codethemicrobit.com
host-suffix, devopsassessment.net
host-suffix, dot.net
host-suffix, gamesstack.com
host-suffix, graphengine.io
host-suffix, insiderdevtour.com
host-suffix, jwt.ms
host-suffix, microbit.org
host-suffix, microsoftadc.com
host-suffix, microsoftgamestack.com
host-suffix, microsoftiotinsiderlabs.com
host-suffix, microsoftreactor.cn
host-suffix, microsoftreactor.com.cn
host-suffix, microsoftreactor.info
host-suffix, microsoftreactor.net
host-suffix, microsoftreactor.org
host-suffix, microsoftsilverlight.com
host-suffix, microsoftsilverlight.net
host-suffix, microsoftsilverlight.org
host-suffix, microsoftsqlserver.com
host-suffix, mmdnn.com
host-suffix, mono-project.com
host-suffix, msdn.com
host-suffix, msinnovationchallenge.com
host-suffix, mspairlift.com
host-suffix, msropendata.com
host-suffix, nuget.org
host-suffix, nugettest.org
host-suffix, opentranslatorstothings.org
host-suffix, poshtestgallery.com
host-suffix, pwabuilder.com
host-suffix, reactorms.com.cn
host-suffix, sankie.net
host-suffix, sqlserveronlinux.com
host-suffix, timelinestoryteller.com
host-suffix, uwpcommunitytoolkit.com
host-suffix, vfsforgit.com
host-suffix, vfsforgit.org
host-suffix, visualstudio-staging.com
host-suffix, visualstudio.co
host-suffix, visualstudio.co.uk
host-suffix, visualstudio.com
host-suffix, visualstudio.eu
host-suffix, visualstudio.net
host-suffix, vsassets.io
host-suffix, vscode-cdn.net
host-suffix, vscode-unpkg.net
host-suffix, vscode.dev
host-suffix, xamarin.com
