host, xz.pphimalayanrt.com
host-suffix, csgo.wmsj.cn
host-suffix, dl.steam.clngaa.com
host-suffix, dl.steam.ksyna.com
host-suffix, dota2.wmsj.cn
host-suffix, st.dl.bscstorage.net
host-suffix, st.dl.eccdnx.com
host-suffix, st.dl.pinyuncloud.com
host-suffix, steamchina.com
host-suffix, steampipe.steamcontent.tnkjmec.com
host-suffix, steampowered.com.8686c.com
host-suffix, steamstatic.com.8686c.com
host-suffix, wmsjsteam.com
