host, community.oneplus.com
host-suffix, h2os.com
host-suffix, oneplus.cn
host-suffix, oneplus.com
host-suffix, oneplus.net
host-suffix, oneplusbbs.com
host-suffix, oneplusmobile.com
host-suffix, opstatics.com
