host-suffix, chinaunicom.com.hk, proxy
host-suffix, chinaunicomglobal.com, proxy
host-suffix, cuniq.com, proxy
host-suffix, speedtest.hk.chinamobile.com, proxy
host-suffix, speedtestbb.hk.chinamobile.com, proxy
