host, ai.google.dev
host, alkalicore-pa.clients6.google.com
host, alkalimakersuite-pa.clients6.google.com
host-suffix, aistudio.google.com
host-suffix, bard.google.com
host-suffix, deepmind.com
host-suffix, deepmind.google
host-suffix, geller-pa.googleapis.com
host-suffix, gemini.google.com
host-suffix, generativeai.google
host-suffix, generativelanguage.googleapis.com
host-suffix, makersuite.google.com
host-suffix, proactivebackend-pa.googleapis.com
