host, apl-hamivideo.cdn.hinet.net
host, hamivideo.hinet.net
host, mobilelive-hamivideo.cdn.hinet.net
host, pvr-hamivideo.cdn.hinet.net
host, scc.ott.hinet.net
host, static-hamivideo.cdn.hinet.net
host, tvcastlive-hamivideo.cdn.hinet.net
host, weblive-hamivideo.cdn.hinet.net
