host-suffix, consul.io
host-suffix, hashicorp.com
host-suffix, nomadproject.io
host-suffix, packer.io
host-suffix, terraform.io
host-suffix, vagrantcloud.com
host-suffix, vagrantup.com
host-suffix, vaultproject.io
