host, appleworldwidedeveloper.hb-api.omtrdc.net
host, appleworldwidedeveloper.sc.omtrdc.net
host, notary-submissions-prod.s3-accelerate.amazonaws.com
host, notary-submissions-prod.s3.us-west-2.amazonaws.com
host, p-events-delivery.akamaized.net
host-suffix, apple-cloudkit.com
host-suffix, apple-mapkit.com
host-suffix, appleswift.com
host-suffix, calendarserver.org
host-suffix, carekit.org
host-suffix, cups.org
host-suffix, developer.apple.com
host-suffix, developerservices2.apple.com
host-suffix, devimages-cdn.apple.com
host-suffix, devstreaming-cdn.apple.com
host-suffix, foundationdb.org
host-suffix, macosforge.org
host-suffix, macruby.com
host-suffix, macruby.net
host-suffix, macruby.org
host-suffix, playgrounds-cdn.apple.com
host-suffix, researchandcare.org
host-suffix, researchkit.cn
host-suffix, researchkit.com.cn
host-suffix, researchkit.hk
host-suffix, researchkit.net
host-suffix, researchkit.org
host-suffix, researchkit.tv
host-suffix, servicetalk.io
host-suffix, swift.org
host-suffix, swiftui.cn
host-suffix, swiftui.com.cn
host-suffix, timestamp.apple.com
host-suffix, webkit.org
host-suffix, webkitgtk.org
host-suffix, webobjects.com
host-suffix, wpewebkit.org
