host, ubisoft-orbit-savegames.s3.amazonaws.com, proxy
host, ubisoft-uplay-savegames.s3.amazonaws.com, proxy
host, ubistatic3-a.akamaihd.net, proxy
host, uplaypc-s-ubisoft.cdn.ubi.com, proxy
host-suffix, ubi.com, proxy
host-suffix, ubisoft.com, proxy
host-suffix, ubisoftconnect.com, proxy
host-suffix, uplay.com, proxy
