host, avatargarenanow-a.akamaihd.net
host, cdngarenanow-a.akamaihd.net
host, dlgarenanow-a.akamaihd.net
host, dlmobilegarena-a.akamaihd.net
host-suffix, garena.co.id
host-suffix, garena.co.th
host-suffix, garena.com
host-suffix, garena.live
host-suffix, garena.my
host-suffix, garena.ph
host-suffix, garena.sg
host-suffix, garena.tv
host-suffix, garena.tw
host-suffix, garena.vn
host-suffix, garenanow.com
host-suffix, seagroup.com
