host, mdn.mozillademos.org
host-suffix, developer.allizom.org
host-suffix, developer.mozilla.org
host-suffix, mdn.allizom.net
host-suffix, mdn.dev
host-suffix, mdn.mozilla.net
host-suffix, mdn.mozit.cloud
host-suffix, mdnplay.dev
host-suffix, mdnyalp.dev
