host, redirector.c.play.google.com
host-suffix, googleplay.com
host-suffix, play-fe.googleapis.com
host-suffix, play-games.googleusercontent.com
host-suffix, play-lh.googleusercontent.com
host-suffix, play.google.com
host-suffix, play.googleapis.com
host-suffix, xn--ngstr-lra8j.com
