host, gigabyte2.azureedge.net
host, sa78gs.wpc.edgecastcdn.net
host, sni1dcb6gl.wpc.edgecastcdn.net
host-suffix, aorus.com
host-suffix, aoruszone.cn
host-suffix, gigabyte.cn
host-suffix, gigabyte.com
