host, ecapi-pchome.cdn.hinet.net
host, pchomeonline.com.tw
host-suffix, ecimg.tw
host-suffix, pchome.com.tw
host-suffix, pchomeec.tw
host-suffix, pchomeonline.com.tw
host-suffix, pchomepay.com.tw
host-suffix, pcloud.tw
host-suffix, pcstore.com.tw
host-suffix, piapp.com.tw
host-suffix, rakuya.com.tw
host-suffix, tagapie.com.tw
host-suffix, toget.com.tw
