host, ai.google.dev, proxy
host, alkalicore-pa.clients6.google.com, proxy
host, alkalimakersuite-pa.clients6.google.com, proxy
host-suffix, aistudio.google.com, proxy
host-suffix, bard.google.com, proxy
host-suffix, deepmind.com, proxy
host-suffix, deepmind.google, proxy
host-suffix, geller-pa.googleapis.com, proxy
host-suffix, gemini.google.com, proxy
host-suffix, generativeai.google, proxy
host-suffix, generativelanguage.googleapis.com, proxy
host-suffix, makersuite.google.com, proxy
host-suffix, proactivebackend-pa.googleapis.com, proxy
