host-suffix, r10s.com
host-suffix, r10s.jp
host-suffix, rakuten-static.com
host-suffix, rakuten.ca
host-suffix, rakuten.co.jp
host-suffix, rakuten.com
host-suffix, rakuten.com.tw
host-suffix, rakuten.ne.jp
host-suffix, rakuten.tw
host-suffix, rclon.com
host-suffix, rebates.jp
