host-suffix, 1drv.com
host-suffix, 1drv.ms
host-suffix, livefilestore.com
host-suffix, onedrive.co
host-suffix, onedrive.co.uk
host-suffix, onedrive.com
host-suffix, onedrive.eu
host-suffix, onedrive.live.com
host-suffix, onedrive.net
host-suffix, onedrive.org
host-suffix, storage.live.com
