host, moocs.unipus.cn
host, opencourse.pku.edu.cn
host, study.163.com
host-suffix, chinesemooc.org
host-suffix, cnmooc.org
host-suffix, icourse163.org
host-suffix, icourses.cn
host-suffix, icve.com.cn
host-suffix, mooc.cn
host-suffix, openlearning.com
host-suffix, pmphmooc.com
