host, bbs.ztedevices.com
host, www.ztedevices.com
host, ztedevices.com
host-suffix, nubia.cn
host-suffix, nubia.com
host-suffix, redmagic.com
host-suffix, zte.com.cn
host-suffix, ztemall.com
host-suffix, ztems.com
