host-suffix, appdomain.cloud
host-suffix, bluemix.com
host-suffix, bluemix.net
host-suffix, consul.io
host-suffix, hashicorp.com
host-suffix, ibm
host-suffix, ibm.com
host-suffix, ibm.eu
host-suffix, ibm.net
host-suffix, ibm.us
host-suffix, nomadproject.io
host-suffix, packer.io
host-suffix, s-bluemix.net
host-suffix, s81c.com
host-suffix, terraform.io
host-suffix, vagrantcloud.com
host-suffix, vagrantup.com
host-suffix, vaultproject.io
host-suffix, weather
host-suffix, weatherchannel
